*.json
*.includecache
*.log
*.o
*.internal
*.make
build/.cmake/api/v1/query/client-integration-vscode/cache-v2
build/.cmake/api/v1/query/client-integration-vscode/codemodel-v2
build/.cmake/api/v1/query/client-integration-vscode/cmakeFiles-v1
build/CMakeFiles/SFMLApp.dir/CXX.includecache
build/CMakeFiles/SFMLApp.dir/depend.internal
build/CMakeFiles/SFMLApp.dir/depend.make
build/CMakeFiles/SFMLApp.dir/main.cpp.o
build/Testing/Temporary/LastTest.log
